.sys-tabs-hide-working-set-list-container,
.pane-header {
   display: none!important
}

div#main-toolbar{
border-left: solid 1px #898484 !important;
border-top: solid 1px #898484 !important;
}

.sys-tabs-toggle-listview,
.sidebar .working-set-splitview-btn {
  display: none
}
.view-pane {
   position: relative
}
.pane-content {
   padding-top: 31px;
   height: 100%!important
}
#project-files-header {
   box-shadow: 0 0 6px 0 #3A3A3A;
   padding: 5px 0 3px 7px !important
}
#minimap-container,
#wdMinimap {
   top: 31px
}
.sidebar .working-set-option-btn {
   right: 0;
   z-index: 12;
   background-color: #47484b;
   opacity: 1
}
.sys-tabs-tabbar {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 12 !important;
}
.sys-tabs-tabbar,
.sys-tabs-tabbar li {
   background: #333639
}
.sys-tabs-height {
   height: 31px;
   max-height: 31px;
   min-height: 31px
}
.sys-tabs-toggle-listview,
.sys-tabs-toggle-sidebar,
.sys-tabs-toggle-toolbar {
   position: absolute;
   opacity: .7;
   color: #A1AFB3;
   font-size: 14px;
   font-family: 'Times New Roman';
   font-weight: 700;
   top: 2px;
   padding: 4px 6px;
   content: "";
   width: 13px;
   height: 17px;
   background-origin: content-box;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-filter: drop-shadow(0 1px 0 rgba(0, 0, 0, .36));
   z-index: 1;
   line-height: 15px;
   text-align: center
}
.sys-tabs-toggle-open {
   color: #37b1ac
}
.sys-tabs-toggle-sidebar {
   left: 2px
}
.sys-tabs-toggle-toolbar {
   right: 2px
}
.sys-tabs-first-listview {
   right: 30px
}
.sys-tabs-second-listview {
   right: 0
}
.sys-tabs-tabbar>.working-set-option-btn,
.sys-tabs-tabbar>.working-set-splitview-btn {
   top: 2px;
   opacity: .7;
   padding: 6px;
   right: auto
}
.sys-tabs-nav-ul,
.sys-tabs-navbar {
   box-sizing: border-box;
   top: 0
}
.sys-tabs-tabbar>.working-set-splitview-btn {
   left: 30px
}
.sys-tabs-tabbar>.working-set-option-btn {
   left: 58px;
   display: none
}
.sys-tabs-navbar {
   position: absolute;
   overflow: hidden;
   width: auto
}
.sys-tabs-first-navbar {
   left: 58px;
   right: 58px
}
.sys-tabs-second-navbar {
   left: 0;
   right: 30px
}
.sys-tabs-nav-ul {
   min-width: 100%;
   margin: 0;
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
   vertical-align: text-top;
   position: relative!important;
   list-style: none;
   -webkit-user-select: none;
   opacity: .5
}
.dark .sys-tabs-box-list-view {
   box-shadow: 0 0 12px 0 #CDCDCD
}
.dark .sys-tabs-box-list-view .working-set-header {
   box-shadow: 0 1px 4px #C2C2C2
}
.sys-tabs-box-list-view {
   position: fixed;
   top: 40px;
   right: 15px;
   padding: 7px 0;
   background: #fff;
   width: auto;
   border: 1px solid #E5E5E5;
   overflow: hidden;
   z-index: 5002
}
.sys-tabs-box-list-view .working-set-header {
   background: #bebebe;
   color: #222;
   padding: 4px 0 4px 12px
}
.sys-tabs-box-list-view .working-set-header>span {
   background: 0 0
}
.sys-tabs-item-length {
   float: right;
   margin-right: 12px
}
.sys-tabs-ul-list-view {
   position: relative;
   margin: 0;
   padding: 0;
   list-style: none;
   overflow-x: hidden;
   overflow-y: auto
}
.sys-tabs-nav-ul::-webkit-scrollbar {
   height: 0!important
}
.sys-tabs-nav-ul em {
   padding-left: 8px;
   line-height: 2.3
}
.sys-tabs-navbar.focused-tabbar ul {
   opacity: 1
}
.sys-tabs-nav-ul>li,
.sys-tabs-ul-list-view>li {
   position: relative;
   list-style: none;
   font-weight: 500;
   letter-spacing: .13px;
   text-align: left;
   vertical-align: middle;
   white-space: nowrap;
   cursor: default;
   z-index: 1;
   border-radius : 6px 6px 0 0;
}
.sys-tabs-height-null {
   height: auto
}
.sys-tabs-nav-ul>li {
   display: inline-block;
   color: #fff;
   text-shadow: rgba(0, 0, 0, .498039) 0 1px 2px;
   padding: 4px 25px 4px 7px;
   line-height: 23px
}
.sys-tabs-ul-list-view>li {
   color: #333;
   padding: 4px 36px;
   text-shadow: none
}
.sys-tabs-nav-ul .directory,
.sys-tabs-nav-ul .extension {
   color: #fff;
}

.sys-tabs-nav-ul li.selected .directory,
.sys-tabs-nav-ul li.selected .extension{
   color: #575757;
}

.dark .sys-tabs-nav-ul .directory,
.dark .sys-tabs-nav-ul .extension {
   color: #adb9bd
}

.dark .sys-tabs-nav-ul li.selected .directory,
.dark .sys-tabs-nav-ul li.selected .extension {
   color: #adb9bd
}


.sys-tabs-ul-list-view .directory,
.sys-tabs-ul-list-view .extension {
   color: #333
}
.sys-tabs-nav-ul>li:hover {
   background: #232323
}


.sys-tabs-nav-ul>li.selected {
   background: #fff;
   color: #575757;
}

.dark .sys-tabs-nav-ul>li.selected {
   background: #242424;
   color:#fff
}

.sys-tabs-nav-ul>li.selected {
   background: #fff;
   color: #575757;
}





.sys-tabs-ul-list-view>li:hover {
   background: #e0f0fa
}
.sys-tabs-ul-list-view>li.selected {
   background: #eaeef0
}
.sys-tabs-file-status-icon {
   position: absolute;
   right: 5px;
   width: 15px;
   height: 15px;
   background-repeat: no-repeat
}
.sys-tabs-nav-ul .sys-tabs-file-status-icon {
   top: 9px
}
.sys-tabs-ul-list-view .sys-tabs-file-status-icon {
   top: 6px
}
.sys-tabs-file-status-icon.dirty {
   background-image: url(evr/dot-circle-o.svg)
}
.sys-tabs-file-status-icon.can-close {
   background-image: url(evr/cancel.svg);
   cursor: pointer;
   opacity: .5;
   transition: opacity .8s
}
.sys-tabs-file-status-icon.can-close:hover {
   opacity: 1
}
li.sys-tabs-prepare-placeholder {
   position: absolute;
   background: 0 0;
   z-index: 2
}
.sys-tabs-box-list-view .sys-tabs-prepare-placeholder {
   padding: 0;
   width: 100%;
   top: 0;
   height: 4px
}
li.highlight {
   background: #ff0
}
li.sys-tabs-sortable-placeholder {
   opacity: .4
}
.sys-tabs-tooltip {
   position: absolute;
   color: #FFF;
   background: #000;
   text-align: left;
   padding: 2px 12px;
   border-radius: 3px;
   border: 1px solid rgba(255, 255, 255, .3);
   box-shadow: 0 3px 9px rgba(0, 0, 0, .24);
   z-index: 999;
   /*display:none !important;*/
}
.sys-tabs-arrow {
   position: absolute;
   width: 0;
   height: 0;
   border-right: 5px solid transparent;
   border-left: 5px solid transparent
}
.sys-tabs-arrow-bottom {
   bottom: 100%;
   border-bottom: 5px solid #000
}
.sys-tabs-arrow-top {
   top: 100%;
   border-top: 5px solid #000
}
.sys-tabs-modal-body span {
   display: inline
}
.sys-tabs-modal-span-left {
   width: 140px
}
.sys-tabs-modal-span-center {
   width: 100px
}
.sys-tabs-modal-span-right {
   width: 250px
}
.sys-tabs-modal-body input[type=number] {
   width: 50px
}
.sys-tabs-modal-preferences~.modal-backdrop {
   display: none!important
}

/* scroller */
.panner {
   position: absolute;
   margin: 5px 0 0 0;
   padding: 0;
   height: 21px;
   width: 30px;
   line-height: 24px !important;
}

a#panLeft {
   right: 35px;
   border-radius: 3px 0 0 3px;
}

a#panRight {
   right: 3px;
   border-radius: 0 3px 3px 0;
}



.sys-tabs-toggle-sidebar {
   left: 60px;
}

.sys-tabs-tabbar>.working-set-splitview-btn {
   left: 90px;
}

.sys-tabs-first-navbar {
   left: 125px;
   right: 70px;
}

.sys-tabs-first-listview {
   left:30px;
}

.sys-tabs-box-list-view {
   position: fixed;
   top: 33px;
   left: 0;
   width: 300px;
   overflow: auto;
   height: auto;
   max-height: 100%;
}

.sys-tabs-toggle-toolbar {
   left: 0;
}

.sys-tabs-ul-list-view {
   position: relative;
   margin: 0;
   padding: 0;
   list-style: none;
   overflow-x: hidden;
   overflow-y:auto;
   width: 100%;
}

.sys-tabs-ul-list-view>li {
   text-overflow: ellipsis;
   width: 100%;
   overflow: hidden;
   box-sizing: border-box;
}


.sys-tabs-navbar {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}


.sys-tabs-nav-ul {
    white-space: nowrap;
    list-style :none;
    display:inline-block;
}
.sys-tabs-nav-ul>li {
    list-style :none;
    display:inline-block;
   box-sizing: border-box;
   border: solid 1px #4F4E4E;
   margin: 2px -2px 0 0;
}


